<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGoogleMapsLocationService" />
                <binding name="BasicHttpBinding_IOpenWeatherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RESTfulExample/GoogleMapsLocationService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGoogleMapsLocationService"
                contract="GMapsServiceReference.IGoogleMapsLocationService"
                name="BasicHttpBinding_IGoogleMapsLocationService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RESTfulExample/OpenWeatherService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpenWeatherService"
                contract="OWeatherServiceReference.IOpenWeatherService" name="BasicHttpBinding_IOpenWeatherService" />
        </client>
    </system.serviceModel>
</configuration>